
 <div class="footer" >
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 footer-extra ft1" >
                <h1>Our Address</h1>
                <p>Health Highway Private Limited<br>Plot No.14, Shiva Enclave, Rishikesh <br>Uttarakhand - 249201</p>
                <i class="fa fa-phone sil" style="color: #757273!important;"></i><a href="tel:+91-9520785339" ><span class="footer-span-txt" >+91-9520785339</span></a><br>
                <i class="fa fa-envelope-o sil" style="color: #757273!important;"></i><a href="mailto:healthhighway2020@gmail.com" ><span class="footer-span-txt" >healthhighway2020@gmail.com</span></a>
            </div>
            <div class="col-lg-4 col-md-4 col-12 footer-extra ft2" >
                <h1>More About us</h1>
                <a href="/services" ><p>Book a session</p></a>
                <a href="#classes" ><p>Attend your first session</p></a>
                <a href="#aboutus" ><p>Read more about us</p></a>
                <a href="#ourjourney" ><p>Transformations</p></a>
                <a href="/trainerLogin" ><p>Join Session as Trainer</p></a>
            </div>
            <div class="col-lg-4 col-md-4 col-12 footer-extra ft3" >
              <h1>Social Links</h1>
              <a href="https://www.facebook.com/Health-Highway-105718737908835" ><i class="fa fa-facebook-square" style="color: #3b5999!important;" aria-hidden="true"></i><span class="footer-span-txt" >Facebook</span></a><br>
              <a href="https://www.instagram.com/healthhighwayin/" ><i class="fa fa-instagram" style="color: #e4405f!important;" aria-hidden="true"></i><span class="footer-span-txt" >Instagram</span ></a><br>
              <a href="https://www.youtube.com/channel/UC3Z_SkMwoZ9cCwKJgvolt7w/" ><i class="fa fa-youtube-square" style="color: #cd201f!important;" aria-hidden="true"></i><span class="footer-span-txt" >Youtube</span></a>
              <div class="contactus-btn" >
                 <a style="cursor: pointer;" onclick="$('#exampleModal').modal('show');" >Contact Us</a>
              </div>
            </div>
        </div>
    </div>
 </div>
 <div class="cp" >
    <div class="cp1" ><p>Copyright © 2020-25 All Rights Reserved</p></div>
    <div class="cp2" >
       <a href="#" ><p>Privacy Policy</p></a>
       <p>|</p>
       <a href="#" ><p>Terms & Conditions</p></a>
    </div>
</div>