        <!-- my customer modal starts -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="modal-title" id="exampleModalLabel">Connect with us : <a href="tel:+91-9520785339" ><span id="contact" >+91-9520785339</span></a></p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" >
                     <p>Register Yourself</p>
                     <!-- form starts here -->
                     <div class="form-div">
                        <form id="myForm" class="needs-validation">
                          <div class="form-group">
                            <label for="nameinput">Your name</label>
                            <input type="text" name="name" value="" class="form-control" id="nameinput" aria-describedby="nameinput" required >
                          </div>
                          <div class="form-group">
                            <label for="emailinput">Email address</label>
                            <input type="email" name="email" value="" class="form-control" id="emailinput" aria-describedby="emailinput" >
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                            <label for="mobileinput">Contact number</label>
                            <input type="tel" name="contact" value="" class="form-control" id="mobileinput" aria-describedby="mobileinput" required >
                            <small id="emailHelp" class="form-text text-muted">We'll never share your contact details with anyone else.</small>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="height">Your Height</label>
                              <input type="text" name="height" class="form-control" id="heightinput" placeholder="in metres">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="weight">Your Weight</label>
                              <input type="text" name="weight" class="form-control" id="weightinput" placeholder="in Kgs">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="ailmentinput">Any particular health problem</label>
                            <input type="text" name="previous_ailment" value="" class="form-control" id="ailmentinput" aria-describedby="ailmentinput" >
                          </div>
                        </form>
                        <!-- <button onclick="subForm()" class="btn btn-success modal-submit-button">Submit</button> -->
                        <div onclick="subForm()" class="modal-submit-gif-btn btn-success" id="modal-submit-div" >
                          <img id="modalgifimg" src="/images/sp.gif" >
                          <p id="modalp" >Submit</p>
                        </div>
                     </div>
                     <!-- form ends here -->
                </div>
              </div>
            </div>
          </div>
          <!-- my modal ends here -->
  
          <!-- trainer modal starts -->
          <!-- <div class="modal fade" id="trainerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="modal-title" id="exampleModalLabel">Connect with us : <a href="tel:+91-9520785339" ><span id="contact" >+91-9520785339</span></a></p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                     <p>Register yourself as Trainer with Health Highway</p>
                     <div class="form-div">
                        <form id="myForm" >
                          <div class="form-group">
                            <label for="nameinput">Your name</label>
                            <input type="text" name="name" value="" class="form-control" id="nameinput" aria-describedby="nameinput" >
                          </div>
                          <div class="form-group">
                            <label for="emailinput">Email address</label>
                            <input type="email" name="email" value="" class="form-control" id="emailinput" aria-describedby="emailinput" >
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                            <label for="mobileinput">Contact number</label>
                            <input type="tel" name="contact" value="" class="form-control" id="mobileinput" aria-describedby="mobileinput"  >
                            <small id="emailHelp" class="form-text text-muted">We'll never share your contact details with anyone else.</small>
                          </div>
                        </form>
                        <button onclick="subForm()" class="btn btn-success modal-submit-button">Submit</button>
                     </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- trainer modal ends here -->