<html>
    <head>

    </head>
    <body>
        <h1>
            Hello There
        </h1>
        <script>
            var name = '<%- name %>';
            console.log(name);
        </script>
    </body>
</html>